# Core
numpy
pandas
matplotlib
seaborn
scikit-learn

# ML
xgboost
lightgbm
torch
torchvision
torchaudio

# NLP
transformers
sentence-transformers
spacy

# Utils
tqdm
joblib
pyyaml

# Viz
plotly
pyvis

# Dev
notebook
ipython
jupyterlab
black
flake8
